/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Set every element's box-sizing to border-box */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* max-width: 100%;*/
    border: 1px solid grey;
}

html,
body {
    height: 100%;
    /* font-family: "Titillium Web", sans-serif; */

    font-family: 'Gayathri', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    /* font-family: "Bangers", cursive;*/
    font-family: 'Gayathri', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


/* Your code starts here! */

#navBar {
    display: flex;
    width: 100%;
    position: fixed;
    background-color: greenyellow;

    justify-content: space-around;
}

#navBar div {
    width: 100%;
}

#navBar #links {
    justify-content: space-between;

}

#logo {
    width: 20%;
}


#links a {
    width: 60%;
    justify-content: space-between;

}

#innoQuote div {
    width: 48%;
}

#quote h1 .word {
    display: flex;
    justify-content: center;
    align-content: center;
}


#circle div {
    width: 48%;
}

/*

#innoQuote {
    width: 49%;
    height: 280px;
}

.word {
    font-size: 95px;
}

#circleImg {
    widows: 49%;
}
*/

#demand {

    display: flex;
    justify-content: space-around;

}

#demand #innoQuote div {

    padding: 0;
    margin: 0;
    width: 48%;

}


.button {
    display: block;
    margin: 0 25%;
    font-size: 40px;
}


.button:hover {
    background-color: grey;
    color: deepskyblue;
}

#innoQuote h1 {
    color: black;
}

#demand {

    display: flex;

}

#doubleSection {

    display: flex;
    justify-content: space-between;


}

#features {

    flex-basis: 100%;
    font-size: 30px;
    font-weight: 700;
    justify-items: space-between;

}

.featAbout {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 100%;
}

#about {

    width: 49%;
    font-size: 33px;
}

.middle-img img {
    width: 100%;
}

/*

.middle-img img {

    padding: 0;
    width: 100%;
}
*/

#container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    font-size: 33px;
}

address {
    /*
    padding: 2% 5%;
    margin-left: 2em;
*/
}

footer {
    padding: 2% 5%;
    text-align: center;

}

/**
 *NEED TO ADD MEDIA QUERIES FOR 800px AND 500px
*/

@media (max-width: 800px) {}

@media (max-width: 500px) {}